*.iml
.gradle
/local.properties
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/module_community
/lib_tx_voiceroom/build/
/lib_tc_debug/build/
/lib_tx_im_callkit/build/
/lib_tx_im_chat/build/
/lib_tx_im_contact/build/
/lib_tx_im_conversation/build/
/lib_tx_im_core/build/
/lib_tx_im_group/build/
/module_community/build
/lib_common/schemas/com.dubu.common.db.VcDatabase/1.json
