<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".activitys.MyProfileActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyWalletActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MySettingsActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyInitActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyPublishActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyPublishVideoActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyPublishPhotoActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyPhotoListActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyImportantSettingActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MySetPriceActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MySetNoticeActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MySetLanguageActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MySetServiceActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyEnterTeamActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyIncomeActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyUnionHistoryActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyCashActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyCashHistoryActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyCashCompanyActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyCashUnbindActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyCashBindActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyHelpCenterActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyPhotoListPreviewActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyEditProfileActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
    </application>

</manifest>